h1 {
  font-family: 'VT323', monospace;
  font-size: 20vh;
  position: static;
  margin: 0px;
}

h2 {
  font-family: 'VT323', monospace;
  font-size: 12vh;
  position: static;
  margin: 0px;
}

body {
   border: 1vh solid grey;
   background-color: lightgrey;
   width: 90%;
   padding: 0 5% 0 5%;
   text-align: center;
}

p {
  text-align: left;
}

#header{
  min-height: 30vh;
  color: lawngreen;
  background-color: black;
}

#footer{
  min-height: 10vh;
  font-family: 'VT323', monospace;
  font-size: 3vh;
  color: lawngreen;
  background-color: black
}

.tab-content{
    min-height: 60vh;
}

/*#control-panel{
    border: 1vh solid grey;
}*/

span{
    display: inline-block;
    /*border: 1vh solid grey;*/
}




/*#n-btn{
    position: absolute;
    bottom: 42vh;
    right: 7vw;
}

#w-btn{
    position: absolute;
    right: 10vw;
}

#s-btn{
    position: absolute;
    right: 7vw;
}

#e-btn{
    position: absolute;
    right: 4vw;
}*/

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'VT323', monospace;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

#direction-ctrl{
    position: fixed;
    right: 1vw;
}

#n-btn{
    position: absolute;
    right: 10vw;
    top: -6vh;
}

#w-btn{
   position: absolute;
    right: 16vw;
}

#s-btn{
    position: absolute;
    right: 10vw;
    top: 6vh;
}

#e-btn{
   position: absolute;
    right: 4vw;
}

#game-text {
  text-indent: 50px;
  padding: 10px 0 20px 0;
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  text-align:left;
}

.game-btn, .direction-button{
  background-color: #c91c1c;
}

.intro-buttons {
  padding-left: 50px;
}
